@page
@model PremierLeague.WebApp.Pages.Account.CreateModel

<h4>PremierLeagueAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PremierLeagueAccount.AccId" class="control-label"></label>
                <input asp-for="PremierLeagueAccount.AccId" class="form-control" />
                <span asp-validation-for="PremierLeagueAccount.AccId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PremierLeagueAccount.Password" class="control-label"></label>
                <input asp-for="PremierLeagueAccount.Password" class="form-control" />
                <span asp-validation-for="PremierLeagueAccount.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PremierLeagueAccount.EmailAddress" class="control-label"></label>
                <input asp-for="PremierLeagueAccount.EmailAddress" class="form-control" />
                <span asp-validation-for="PremierLeagueAccount.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PremierLeagueAccount.Description" class="control-label"></label>
                <input asp-for="PremierLeagueAccount.Description" class="form-control" />
                <span asp-validation-for="PremierLeagueAccount.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PremierLeagueAccount.Role" class="control-label"></label>
                <input asp-for="PremierLeagueAccount.Role" class="form-control" />
                <span asp-validation-for="PremierLeagueAccount.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
